/* Color - inherit */
.clr-inherit {
  color: inherit;
}
.bg-inherit {
  background-color: inherit;
}

/* Color - current */
.clr-current {
  color: currentColor;
}
.bg-current {
  background-color: currentColor;
}

/* Color - transparent */
.clr-transparent {
  color: transparent;
}
.bg-transparent {
  background-color: transparent;
}

/* Color - black */
.clr-black {
  color: #171717;
}
.bg-black {
  background-color: #171717;
}

/* Color - white */
.clr-white {
  color: #ffffff;
}
.bg-white {
  background-color: #ffffff;
}

/* Color - rose */
.clr-rose-50 {
  color: #fff1f2;
}
.bg-rose-50 {
  background-color: #fff1f2;
}

/* Color - rose */
.clr-rose-100 {
  color: #ffe4e6;
}
.bg-rose-100 {
  background-color: #ffe4e6;
}

/* Color - rose */
.clr-rose-200 {
  color: #fecdd3;
}
.bg-rose-200 {
  background-color: #fecdd3;
}

/* Color - rose */
.clr-rose-300 {
  color: #fda4af;
}
.bg-rose-300 {
  background-color: #fda4af;
}

/* Color - rose */
.clr-rose-400 {
  color: #fb7185;
}
.bg-rose-400 {
  background-color: #fb7185;
}

/* Color - rose */
.clr-rose-500 {
  color: #f43f5e;
}
.bg-rose-500 {
  background-color: #f43f5e;
}

/* Color - rose */
.clr-rose-600 {
  color: #e11d48;
}
.bg-rose-600 {
  background-color: #e11d48;
}

/* Color - rose */
.clr-rose-700 {
  color: #be123c;
}
.bg-rose-700 {
  background-color: #be123c;
}

/* Color - rose */
.clr-rose-800 {
  color: #9f1239;
}
.bg-rose-800 {
  background-color: #9f1239;
}

/* Color - rose */
.clr-rose-900 {
  color: #881337;
}
.bg-rose-900 {
  background-color: #881337;
}

/* Color - pink */
.clr-pink-50 {
  color: #fdf2f8;
}
.bg-pink-50 {
  background-color: #fdf2f8;
}

/* Color - pink */
.clr-pink-100 {
  color: #fce7f3;
}
.bg-pink-100 {
  background-color: #fce7f3;
}

/* Color - pink */
.clr-pink-200 {
  color: #fbcfe8;
}
.bg-pink-200 {
  background-color: #fbcfe8;
}

/* Color - pink */
.clr-pink-300 {
  color: #f9a8d4;
}
.bg-pink-300 {
  background-color: #f9a8d4;
}

/* Color - pink */
.clr-pink-400 {
  color: #f472b6;
}
.bg-pink-400 {
  background-color: #f472b6;
}

/* Color - pink */
.clr-pink-500 {
  color: #ec4899;
}
.bg-pink-500 {
  background-color: #ec4899;
}

/* Color - pink */
.clr-pink-600 {
  color: #db2777;
}
.bg-pink-600 {
  background-color: #db2777;
}

/* Color - pink */
.clr-pink-700 {
  color: #be185d;
}
.bg-pink-700 {
  background-color: #be185d;
}

/* Color - pink */
.clr-pink-800 {
  color: #9d174d;
}
.bg-pink-800 {
  background-color: #9d174d;
}

/* Color - pink */
.clr-pink-900 {
  color: #831843;
}
.bg-pink-900 {
  background-color: #831843;
}

/* Color - fuchsia */
.clr-fuchsia-50 {
  color: #fdf4ff;
}
.bg-fuchsia-50 {
  background-color: #fdf4ff;
}

/* Color - fuchsia */
.clr-fuchsia-100 {
  color: #fae8ff;
}
.bg-fuchsia-100 {
  background-color: #fae8ff;
}

/* Color - fuchsia */
.clr-fuchsia-200 {
  color: #f5d0fe;
}
.bg-fuchsia-200 {
  background-color: #f5d0fe;
}

/* Color - fuchsia */
.clr-fuchsia-300 {
  color: #f0abfc;
}
.bg-fuchsia-300 {
  background-color: #f0abfc;
}

/* Color - fuchsia */
.clr-fuchsia-400 {
  color: #e879f9;
}
.bg-fuchsia-400 {
  background-color: #e879f9;
}

/* Color - fuchsia */
.clr-fuchsia-500 {
  color: #d946ef;
}
.bg-fuchsia-500 {
  background-color: #d946ef;
}

/* Color - fuchsia */
.clr-fuchsia-600 {
  color: #c026d3;
}
.bg-fuchsia-600 {
  background-color: #c026d3;
}

/* Color - fuchsia */
.clr-fuchsia-700 {
  color: #a21caf;
}
.bg-fuchsia-700 {
  background-color: #a21caf;
}

/* Color - fuchsia */
.clr-fuchsia-800 {
  color: #86198f;
}
.bg-fuchsia-800 {
  background-color: #86198f;
}

/* Color - fuchsia */
.clr-fuchsia-900 {
  color: #701a75;
}
.bg-fuchsia-900 {
  background-color: #701a75;
}

/* Color - purple */
.clr-purple-50 {
  color: #faf5ff;
}
.bg-purple-50 {
  background-color: #faf5ff;
}

/* Color - purple */
.clr-purple-100 {
  color: #f3e8ff;
}
.bg-purple-100 {
  background-color: #f3e8ff;
}

/* Color - purple */
.clr-purple-200 {
  color: #e9d5ff;
}
.bg-purple-200 {
  background-color: #e9d5ff;
}

/* Color - purple */
.clr-purple-300 {
  color: #d8b4fe;
}
.bg-purple-300 {
  background-color: #d8b4fe;
}

/* Color - purple */
.clr-purple-400 {
  color: #c084fc;
}
.bg-purple-400 {
  background-color: #c084fc;
}

/* Color - purple */
.clr-purple-500 {
  color: #a855f7;
}
.bg-purple-500 {
  background-color: #a855f7;
}

/* Color - purple */
.clr-purple-600 {
  color: #9333ea;
}
.bg-purple-600 {
  background-color: #9333ea;
}

/* Color - purple */
.clr-purple-700 {
  color: #7e22ce;
}
.bg-purple-700 {
  background-color: #7e22ce;
}

/* Color - purple */
.clr-purple-800 {
  color: #6b21a8;
}
.bg-purple-800 {
  background-color: #6b21a8;
}

/* Color - purple */
.clr-purple-900 {
  color: #581c87;
}
.bg-purple-900 {
  background-color: #581c87;
}

/* Color - violet */
.clr-violet-50 {
  color: #f5f3ff;
}
.bg-violet-50 {
  background-color: #f5f3ff;
}

/* Color - violet */
.clr-violet-100 {
  color: #ede9fe;
}
.bg-violet-100 {
  background-color: #ede9fe;
}

/* Color - violet */
.clr-violet-200 {
  color: #ddd6fe;
}
.bg-violet-200 {
  background-color: #ddd6fe;
}

/* Color - violet */
.clr-violet-300 {
  color: #c4b5fd;
}
.bg-violet-300 {
  background-color: #c4b5fd;
}

/* Color - violet */
.clr-violet-400 {
  color: #a78bfa;
}
.bg-violet-400 {
  background-color: #a78bfa;
}

/* Color - violet */
.clr-violet-500 {
  color: #8b5cf6;
}
.bg-violet-500 {
  background-color: #8b5cf6;
}

/* Color - violet */
.clr-violet-600 {
  color: #7c3aed;
}
.bg-violet-600 {
  background-color: #7c3aed;
}

/* Color - violet */
.clr-violet-700 {
  color: #6d28d9;
}
.bg-violet-700 {
  background-color: #6d28d9;
}

/* Color - violet */
.clr-violet-800 {
  color: #5b21b6;
}
.bg-violet-800 {
  background-color: #5b21b6;
}

/* Color - violet */
.clr-violet-900 {
  color: #4c1d95;
}
.bg-violet-900 {
  background-color: #4c1d95;
}

/* Color - indigo */
.clr-indigo-50 {
  color: #eef2ff;
}
.bg-indigo-50 {
  background-color: #eef2ff;
}

/* Color - indigo */
.clr-indigo-100 {
  color: #e0e7ff;
}
.bg-indigo-100 {
  background-color: #e0e7ff;
}

/* Color - indigo */
.clr-indigo-200 {
  color: #c7d2fe;
}
.bg-indigo-200 {
  background-color: #c7d2fe;
}

/* Color - indigo */
.clr-indigo-300 {
  color: #a5b4fc;
}
.bg-indigo-300 {
  background-color: #a5b4fc;
}

/* Color - indigo */
.clr-indigo-400 {
  color: #818cf8;
}
.bg-indigo-400 {
  background-color: #818cf8;
}

/* Color - indigo */
.clr-indigo-500 {
  color: #6366f1;
}
.bg-indigo-500 {
  background-color: #6366f1;
}

/* Color - indigo */
.clr-indigo-600 {
  color: #4f46e5;
}
.bg-indigo-600 {
  background-color: #4f46e5;
}

/* Color - indigo */
.clr-indigo-700 {
  color: #4338ca;
}
.bg-indigo-700 {
  background-color: #4338ca;
}

/* Color - indigo */
.clr-indigo-800 {
  color: #3730a3;
}
.bg-indigo-800 {
  background-color: #3730a3;
}

/* Color - indigo */
.clr-indigo-900 {
  color: #312e81;
}
.bg-indigo-900 {
  background-color: #312e81;
}

/* Color - blue */
.clr-blue-50 {
  color: #eff6ff;
}
.bg-blue-50 {
  background-color: #eff6ff;
}

/* Color - blue */
.clr-blue-100 {
  color: #dbeafe;
}
.bg-blue-100 {
  background-color: #dbeafe;
}

/* Color - blue */
.clr-blue-200 {
  color: #bfdbfe;
}
.bg-blue-200 {
  background-color: #bfdbfe;
}

/* Color - blue */
.clr-blue-300 {
  color: #93c5fd;
}
.bg-blue-300 {
  background-color: #93c5fd;
}

/* Color - blue */
.clr-blue-400 {
  color: #60a5fa;
}
.bg-blue-400 {
  background-color: #60a5fa;
}

/* Color - blue */
.clr-blue-500 {
  color: #3b82f6;
}
.bg-blue-500 {
  background-color: #3b82f6;
}

/* Color - blue */
.clr-blue-600 {
  color: #2563eb;
}
.bg-blue-600 {
  background-color: #2563eb;
}

/* Color - blue */
.clr-blue-700 {
  color: #1d4ed8;
}
.bg-blue-700 {
  background-color: #1d4ed8;
}

/* Color - blue */
.clr-blue-800 {
  color: #1e40af;
}
.bg-blue-800 {
  background-color: #1e40af;
}

/* Color - blue */
.clr-blue-900 {
  color: #1e3a8a;
}
.bg-blue-900 {
  background-color: #1e3a8a;
}

/* Color - sky */
.clr-sky-50 {
  color: #f0f9ff;
}
.bg-sky-50 {
  background-color: #f0f9ff;
}

/* Color - sky */
.clr-sky-100 {
  color: #e0f2fe;
}
.bg-sky-100 {
  background-color: #e0f2fe;
}

/* Color - sky */
.clr-sky-200 {
  color: #bae6fd;
}
.bg-sky-200 {
  background-color: #bae6fd;
}

/* Color - sky */
.clr-sky-300 {
  color: #7dd3fc;
}
.bg-sky-300 {
  background-color: #7dd3fc;
}

/* Color - sky */
.clr-sky-400 {
  color: #38bdf8;
}
.bg-sky-400 {
  background-color: #38bdf8;
}

/* Color - sky */
.clr-sky-500 {
  color: #0ea5e9;
}
.bg-sky-500 {
  background-color: #0ea5e9;
}

/* Color - sky */
.clr-sky-600 {
  color: #0284c7;
}
.bg-sky-600 {
  background-color: #0284c7;
}

/* Color - sky */
.clr-sky-700 {
  color: #0369a1;
}
.bg-sky-700 {
  background-color: #0369a1;
}

/* Color - sky */
.clr-sky-800 {
  color: #075985;
}
.bg-sky-800 {
  background-color: #075985;
}

/* Color - sky */
.clr-sky-900 {
  color: #0c4a6e;
}
.bg-sky-900 {
  background-color: #0c4a6e;
}

/* Color - cyan */
.clr-cyan-50 {
  color: #ecfeff;
}
.bg-cyan-50 {
  background-color: #ecfeff;
}

/* Color - cyan */
.clr-cyan-100 {
  color: #cffafe;
}
.bg-cyan-100 {
  background-color: #cffafe;
}

/* Color - cyan */
.clr-cyan-200 {
  color: #a5f3fc;
}
.bg-cyan-200 {
  background-color: #a5f3fc;
}

/* Color - cyan */
.clr-cyan-300 {
  color: #67e8f9;
}
.bg-cyan-300 {
  background-color: #67e8f9;
}

/* Color - cyan */
.clr-cyan-400 {
  color: #22d3ee;
}
.bg-cyan-400 {
  background-color: #22d3ee;
}

/* Color - cyan */
.clr-cyan-500 {
  color: #06b6d4;
}
.bg-cyan-500 {
  background-color: #06b6d4;
}

/* Color - cyan */
.clr-cyan-600 {
  color: #0891b2;
}
.bg-cyan-600 {
  background-color: #0891b2;
}

/* Color - cyan */
.clr-cyan-700 {
  color: #0e7490;
}
.bg-cyan-700 {
  background-color: #0e7490;
}

/* Color - cyan */
.clr-cyan-800 {
  color: #155e75;
}
.bg-cyan-800 {
  background-color: #155e75;
}

/* Color - cyan */
.clr-cyan-900 {
  color: #164e63;
}
.bg-cyan-900 {
  background-color: #164e63;
}

/* Color - teal */
.clr-teal-50 {
  color: #f0fdfa;
}
.bg-teal-50 {
  background-color: #f0fdfa;
}

/* Color - teal */
.clr-teal-100 {
  color: #ccfbf1;
}
.bg-teal-100 {
  background-color: #ccfbf1;
}

/* Color - teal */
.clr-teal-200 {
  color: #99f6e4;
}
.bg-teal-200 {
  background-color: #99f6e4;
}

/* Color - teal */
.clr-teal-300 {
  color: #5eead4;
}
.bg-teal-300 {
  background-color: #5eead4;
}

/* Color - teal */
.clr-teal-400 {
  color: #2dd4bf;
}
.bg-teal-400 {
  background-color: #2dd4bf;
}

/* Color - teal */
.clr-teal-500 {
  color: #14b8a6;
}
.bg-teal-500 {
  background-color: #14b8a6;
}

/* Color - teal */
.clr-teal-600 {
  color: #0d9488;
}
.bg-teal-600 {
  background-color: #0d9488;
}

/* Color - teal */
.clr-teal-700 {
  color: #0f766e;
}
.bg-teal-700 {
  background-color: #0f766e;
}

/* Color - teal */
.clr-teal-800 {
  color: #115e59;
}
.bg-teal-800 {
  background-color: #115e59;
}

/* Color - teal */
.clr-teal-900 {
  color: #134e4a;
}
.bg-teal-900 {
  background-color: #134e4a;
}

/* Color - emerald */
.clr-emerald-50 {
  color: #ecfdf5;
}
.bg-emerald-50 {
  background-color: #ecfdf5;
}

/* Color - emerald */
.clr-emerald-100 {
  color: #d1fae5;
}
.bg-emerald-100 {
  background-color: #d1fae5;
}

/* Color - emerald */
.clr-emerald-200 {
  color: #a7f3d0;
}
.bg-emerald-200 {
  background-color: #a7f3d0;
}

/* Color - emerald */
.clr-emerald-300 {
  color: #6ee7b7;
}
.bg-emerald-300 {
  background-color: #6ee7b7;
}

/* Color - emerald */
.clr-emerald-400 {
  color: #34d399;
}
.bg-emerald-400 {
  background-color: #34d399;
}

/* Color - emerald */
.clr-emerald-500 {
  color: #10b981;
}
.bg-emerald-500 {
  background-color: #10b981;
}

/* Color - emerald */
.clr-emerald-600 {
  color: #059669;
}
.bg-emerald-600 {
  background-color: #059669;
}

/* Color - emerald */
.clr-emerald-700 {
  color: #047857;
}
.bg-emerald-700 {
  background-color: #047857;
}

/* Color - emerald */
.clr-emerald-800 {
  color: #065f46;
}
.bg-emerald-800 {
  background-color: #065f46;
}

/* Color - emerald */
.clr-emerald-900 {
  color: #064e3b;
}
.bg-emerald-900 {
  background-color: #064e3b;
}

/* Color - green */
.clr-green-50 {
  color: #f0fdf4;
}
.bg-green-50 {
  background-color: #f0fdf4;
}

/* Color - green */
.clr-green-100 {
  color: #dcfce7;
}
.bg-green-100 {
  background-color: #dcfce7;
}

/* Color - green */
.clr-green-200 {
  color: #bbf7d0;
}
.bg-green-200 {
  background-color: #bbf7d0;
}

/* Color - green */
.clr-green-300 {
  color: #86efac;
}
.bg-green-300 {
  background-color: #86efac;
}

/* Color - green */
.clr-green-400 {
  color: #4ade80;
}
.bg-green-400 {
  background-color: #4ade80;
}

/* Color - green */
.clr-green-500 {
  color: #22c55e;
}
.bg-green-500 {
  background-color: #22c55e;
}

/* Color - green */
.clr-green-600 {
  color: #16a34a;
}
.bg-green-600 {
  background-color: #16a34a;
}

/* Color - green */
.clr-green-700 {
  color: #15803d;
}
.bg-green-700 {
  background-color: #15803d;
}

/* Color - green */
.clr-green-800 {
  color: #166534;
}
.bg-green-800 {
  background-color: #166534;
}

/* Color - green */
.clr-green-900 {
  color: #14532d;
}
.bg-green-900 {
  background-color: #14532d;
}

/* Color - lime */
.clr-lime-50 {
  color: #f7fee7;
}
.bg-lime-50 {
  background-color: #f7fee7;
}

/* Color - lime */
.clr-lime-100 {
  color: #ecfccb;
}
.bg-lime-100 {
  background-color: #ecfccb;
}

/* Color - lime */
.clr-lime-200 {
  color: #d9f99d;
}
.bg-lime-200 {
  background-color: #d9f99d;
}

/* Color - lime */
.clr-lime-300 {
  color: #bef264;
}
.bg-lime-300 {
  background-color: #bef264;
}

/* Color - lime */
.clr-lime-400 {
  color: #a3e635;
}
.bg-lime-400 {
  background-color: #a3e635;
}

/* Color - lime */
.clr-lime-500 {
  color: #84cc16;
}
.bg-lime-500 {
  background-color: #84cc16;
}

/* Color - lime */
.clr-lime-600 {
  color: #65a30d;
}
.bg-lime-600 {
  background-color: #65a30d;
}

/* Color - lime */
.clr-lime-700 {
  color: #4d7c0f;
}
.bg-lime-700 {
  background-color: #4d7c0f;
}

/* Color - lime */
.clr-lime-800 {
  color: #3f6212;
}
.bg-lime-800 {
  background-color: #3f6212;
}

/* Color - lime */
.clr-lime-900 {
  color: #365314;
}
.bg-lime-900 {
  background-color: #365314;
}

/* Color - yellow */
.clr-yellow-50 {
  color: #fefce8;
}
.bg-yellow-50 {
  background-color: #fefce8;
}

/* Color - yellow */
.clr-yellow-100 {
  color: #fef9c3;
}
.bg-yellow-100 {
  background-color: #fef9c3;
}

/* Color - yellow */
.clr-yellow-200 {
  color: #fef08a;
}
.bg-yellow-200 {
  background-color: #fef08a;
}

/* Color - yellow */
.clr-yellow-300 {
  color: #fde047;
}
.bg-yellow-300 {
  background-color: #fde047;
}

/* Color - yellow */
.clr-yellow-400 {
  color: #facc15;
}
.bg-yellow-400 {
  background-color: #facc15;
}

/* Color - yellow */
.clr-yellow-500 {
  color: #eab308;
}
.bg-yellow-500 {
  background-color: #eab308;
}

/* Color - yellow */
.clr-yellow-600 {
  color: #ca8a04;
}
.bg-yellow-600 {
  background-color: #ca8a04;
}

/* Color - yellow */
.clr-yellow-700 {
  color: #a16207;
}
.bg-yellow-700 {
  background-color: #a16207;
}

/* Color - yellow */
.clr-yellow-800 {
  color: #854d0e;
}
.bg-yellow-800 {
  background-color: #854d0e;
}

/* Color - yellow */
.clr-yellow-900 {
  color: #713f12;
}
.bg-yellow-900 {
  background-color: #713f12;
}

/* Color - amber */
.clr-amber-50 {
  color: #fffbeb;
}
.bg-amber-50 {
  background-color: #fffbeb;
}

/* Color - amber */
.clr-amber-100 {
  color: #fef3c7;
}
.bg-amber-100 {
  background-color: #fef3c7;
}

/* Color - amber */
.clr-amber-200 {
  color: #fde68a;
}
.bg-amber-200 {
  background-color: #fde68a;
}

/* Color - amber */
.clr-amber-300 {
  color: #fcd34d;
}
.bg-amber-300 {
  background-color: #fcd34d;
}

/* Color - amber */
.clr-amber-400 {
  color: #fbbf24;
}
.bg-amber-400 {
  background-color: #fbbf24;
}

/* Color - amber */
.clr-amber-500 {
  color: #f59e0b;
}
.bg-amber-500 {
  background-color: #f59e0b;
}

/* Color - amber */
.clr-amber-600 {
  color: #d97706;
}
.bg-amber-600 {
  background-color: #d97706;
}

/* Color - amber */
.clr-amber-700 {
  color: #b45309;
}
.bg-amber-700 {
  background-color: #b45309;
}

/* Color - amber */
.clr-amber-800 {
  color: #92400e;
}
.bg-amber-800 {
  background-color: #92400e;
}

/* Color - amber */
.clr-amber-900 {
  color: #78350f;
}
.bg-amber-900 {
  background-color: #78350f;
}

/* Color - orange */
.clr-orange-50 {
  color: #fff7ed;
}
.bg-orange-50 {
  background-color: #fff7ed;
}

/* Color - orange */
.clr-orange-100 {
  color: #ffedd5;
}
.bg-orange-100 {
  background-color: #ffedd5;
}

/* Color - orange */
.clr-orange-200 {
  color: #fed7aa;
}
.bg-orange-200 {
  background-color: #fed7aa;
}

/* Color - orange */
.clr-orange-300 {
  color: #fdba74;
}
.bg-orange-300 {
  background-color: #fdba74;
}

/* Color - orange */
.clr-orange-400 {
  color: #fb923c;
}
.bg-orange-400 {
  background-color: #fb923c;
}

/* Color - orange */
.clr-orange-500 {
  color: #f97316;
}
.bg-orange-500 {
  background-color: #f97316;
}

/* Color - orange */
.clr-orange-600 {
  color: #ea580c;
}
.bg-orange-600 {
  background-color: #ea580c;
}

/* Color - orange */
.clr-orange-700 {
  color: #c2410c;
}
.bg-orange-700 {
  background-color: #c2410c;
}

/* Color - orange */
.clr-orange-800 {
  color: #9a3412;
}
.bg-orange-800 {
  background-color: #9a3412;
}

/* Color - orange */
.clr-orange-900 {
  color: #7c2d12;
}
.bg-orange-900 {
  background-color: #7c2d12;
}

/* Color - red */
.clr-red-50 {
  color: #fef2f2;
}
.bg-red-50 {
  background-color: #fef2f2;
}

/* Color - red */
.clr-red-100 {
  color: #fee2e2;
}
.bg-red-100 {
  background-color: #fee2e2;
}

/* Color - red */
.clr-red-200 {
  color: #fecaca;
}
.bg-red-200 {
  background-color: #fecaca;
}

/* Color - red */
.clr-red-300 {
  color: #fca5a5;
}
.bg-red-300 {
  background-color: #fca5a5;
}

/* Color - red */
.clr-red-400 {
  color: #f87171;
}
.bg-red-400 {
  background-color: #f87171;
}

/* Color - red */
.clr-red-500 {
  color: #ef4444;
}
.bg-red-500 {
  background-color: #ef4444;
}

/* Color - red */
.clr-red-600 {
  color: #dc2626;
}
.bg-red-600 {
  background-color: #dc2626;
}

/* Color - red */
.clr-red-700 {
  color: #b91c1c;
}
.bg-red-700 {
  background-color: #b91c1c;
}

/* Color - red */
.clr-red-800 {
  color: #991b1b;
}
.bg-red-800 {
  background-color: #991b1b;
}

/* Color - red */
.clr-red-900 {
  color: #7f1d1d;
}
.bg-red-900 {
  background-color: #7f1d1d;
}

/* Color - light */
.clr-light-50 {
  color: #fdfdfd;
}
.bg-light-50 {
  background-color: #fdfdfd;
}

/* Color - light */
.clr-light-100 {
  color: #fcfcfc;
}
.bg-light-100 {
  background-color: #fcfcfc;
}

/* Color - light */
.clr-light-200 {
  color: #fafafa;
}
.bg-light-200 {
  background-color: #fafafa;
}

/* Color - light */
.clr-light-300 {
  color: #f8f9fa;
}
.bg-light-300 {
  background-color: #f8f9fa;
}

/* Color - light */
.clr-light-400 {
  color: #f6f6f6;
}
.bg-light-400 {
  background-color: #f6f6f6;
}

/* Color - light */
.clr-light-500 {
  color: #f2f2f2;
}
.bg-light-500 {
  background-color: #f2f2f2;
}

/* Color - light */
.clr-light-600 {
  color: #f1f3f5;
}
.bg-light-600 {
  background-color: #f1f3f5;
}

/* Color - light */
.clr-light-700 {
  color: #e9ecef;
}
.bg-light-700 {
  background-color: #e9ecef;
}

/* Color - light */
.clr-light-800 {
  color: #dee2e6;
}
.bg-light-800 {
  background-color: #dee2e6;
}

/* Color - light */
.clr-light-900 {
  color: #dde1e3;
}
.bg-light-900 {
  background-color: #dde1e3;
}

/* Color - dark */
.clr-dark-50 {
  color: #4a4a4a;
}
.bg-dark-50 {
  background-color: #4a4a4a;
}

/* Color - dark */
.clr-dark-100 {
  color: #3c3c3c;
}
.bg-dark-100 {
  background-color: #3c3c3c;
}

/* Color - dark */
.clr-dark-200 {
  color: #323232;
}
.bg-dark-200 {
  background-color: #323232;
}

/* Color - dark */
.clr-dark-300 {
  color: #2d2d2d;
}
.bg-dark-300 {
  background-color: #2d2d2d;
}

/* Color - dark */
.clr-dark-400 {
  color: #222222;
}
.bg-dark-400 {
  background-color: #222222;
}

/* Color - dark */
.clr-dark-500 {
  color: #1f1f1f;
}
.bg-dark-500 {
  background-color: #1f1f1f;
}

/* Color - dark */
.clr-dark-600 {
  color: #1c1c1e;
}
.bg-dark-600 {
  background-color: #1c1c1e;
}

/* Color - dark */
.clr-dark-700 {
  color: #1b1b1b;
}
.bg-dark-700 {
  background-color: #1b1b1b;
}

/* Color - dark */
.clr-dark-800 {
  color: #181818;
}
.bg-dark-800 {
  background-color: #181818;
}

/* Color - dark */
.clr-dark-900 {
  color: #0f0f0f;
}
.bg-dark-900 {
  background-color: #0f0f0f;
}

/* Color - bg */
.clr-bg-medium {
  color: #eef1f5;
}
.bg-bg-medium {
  background-color: #eef1f5;
}

/* Color - bg */
.clr-bg-light {
  color: #ffffff;
}
.bg-bg-light {
  background-color: #ffffff;
}

/* Color - bg */
.clr-bg-dark {
  color: #3c363f;
}
.bg-bg-dark {
  background-color: #3c363f;
}

/* Color - bg */
.clr-bg-grey {
  color: #c1d0df;
}
.bg-bg-grey {
  background-color: #c1d0df;
}

/* Color - border */
.clr-border-lighter {
  color: #5c5c5c;
}
.bg-border-lighter {
  background-color: #5c5c5c;
}

/* Color - border */
.clr-border-darker {
  color: #151515;
}
.bg-border-darker {
  background-color: #151515;
}

/* Color - text */
.clr-text {
  color: #35353d;
}
.bg-text {
  background-color: #35353d;
}

/* Color - text-secondary */
.clr-text-secondary {
  color: #6a7185;
}
.bg-text-secondary {
  background-color: #6a7185;
}

/* Color - text-inactive */
.clr-text-inactive {
  color: #6a7185;
}
.bg-text-inactive {
  background-color: #6a7185;
}

/* Color - brand */
.clr-brand {
  color: #a7119b;
}
.bg-brand {
  background-color: #a7119b;
}

/* Color - accent */
.clr-accent {
  color: #59b838;
}
.bg-accent {
  background-color: #59b838;
}

/* Color - accent-second */
.clr-accent-second {
  color: #e49838;
}
.bg-accent-second {
  background-color: #e49838;
}

:root {
  --inherit: inherit;
  --current: currentColor;
  --transparent: transparent;
  --black: #171717;
  --white: #ffffff;
  --rose-50: #fff1f2;
  --rose-100: #ffe4e6;
  --rose-200: #fecdd3;
  --rose-300: #fda4af;
  --rose-400: #fb7185;
  --rose-500: #f43f5e;
  --rose-600: #e11d48;
  --rose-700: #be123c;
  --rose-800: #9f1239;
  --rose-900: #881337;
  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
  --pink-400: #f472b6;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --pink-700: #be185d;
  --pink-800: #9d174d;
  --pink-900: #831843;
  --fuchsia-50: #fdf4ff;
  --fuchsia-100: #fae8ff;
  --fuchsia-200: #f5d0fe;
  --fuchsia-300: #f0abfc;
  --fuchsia-400: #e879f9;
  --fuchsia-500: #d946ef;
  --fuchsia-600: #c026d3;
  --fuchsia-700: #a21caf;
  --fuchsia-800: #86198f;
  --fuchsia-900: #701a75;
  --purple-50: #faf5ff;
  --purple-100: #f3e8ff;
  --purple-200: #e9d5ff;
  --purple-300: #d8b4fe;
  --purple-400: #c084fc;
  --purple-500: #a855f7;
  --purple-600: #9333ea;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;
  --violet-50: #f5f3ff;
  --violet-100: #ede9fe;
  --violet-200: #ddd6fe;
  --violet-300: #c4b5fd;
  --violet-400: #a78bfa;
  --violet-500: #8b5cf6;
  --violet-600: #7c3aed;
  --violet-700: #6d28d9;
  --violet-800: #5b21b6;
  --violet-900: #4c1d95;
  --indigo-50: #eef2ff;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --sky-50: #f0f9ff;
  --sky-100: #e0f2fe;
  --sky-200: #bae6fd;
  --sky-300: #7dd3fc;
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
  --sky-800: #075985;
  --sky-900: #0c4a6e;
  --cyan-50: #ecfeff;
  --cyan-100: #cffafe;
  --cyan-200: #a5f3fc;
  --cyan-300: #67e8f9;
  --cyan-400: #22d3ee;
  --cyan-500: #06b6d4;
  --cyan-600: #0891b2;
  --cyan-700: #0e7490;
  --cyan-800: #155e75;
  --cyan-900: #164e63;
  --teal-50: #f0fdfa;
  --teal-100: #ccfbf1;
  --teal-200: #99f6e4;
  --teal-300: #5eead4;
  --teal-400: #2dd4bf;
  --teal-500: #14b8a6;
  --teal-600: #0d9488;
  --teal-700: #0f766e;
  --teal-800: #115e59;
  --teal-900: #134e4a;
  --emerald-50: #ecfdf5;
  --emerald-100: #d1fae5;
  --emerald-200: #a7f3d0;
  --emerald-300: #6ee7b7;
  --emerald-400: #34d399;
  --emerald-500: #10b981;
  --emerald-600: #059669;
  --emerald-700: #047857;
  --emerald-800: #065f46;
  --emerald-900: #064e3b;
  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;
  --lime-50: #f7fee7;
  --lime-100: #ecfccb;
  --lime-200: #d9f99d;
  --lime-300: #bef264;
  --lime-400: #a3e635;
  --lime-500: #84cc16;
  --lime-600: #65a30d;
  --lime-700: #4d7c0f;
  --lime-800: #3f6212;
  --lime-900: #365314;
  --yellow-50: #fefce8;
  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;
  --yellow-800: #854d0e;
  --yellow-900: #713f12;
  --amber-50: #fffbeb;
  --amber-100: #fef3c7;
  --amber-200: #fde68a;
  --amber-300: #fcd34d;
  --amber-400: #fbbf24;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --amber-700: #b45309;
  --amber-800: #92400e;
  --amber-900: #78350f;
  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;
  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --light-50: #fdfdfd;
  --light-100: #fcfcfc;
  --light-200: #fafafa;
  --light-300: #f8f9fa;
  --light-400: #f6f6f6;
  --light-500: #f2f2f2;
  --light-600: #f1f3f5;
  --light-700: #e9ecef;
  --light-800: #dee2e6;
  --light-900: #dde1e3;
  --dark-50: #4a4a4a;
  --dark-100: #3c3c3c;
  --dark-200: #323232;
  --dark-300: #2d2d2d;
  --dark-400: #222222;
  --dark-500: #1f1f1f;
  --dark-600: #1c1c1e;
  --dark-700: #1b1b1b;
  --dark-800: #181818;
  --dark-900: #0f0f0f;
  --bg-medium: #eef1f5;
  --bg-light: #ffffff;
  --bg-dark: #3c363f;
  --bg-grey: #c1d0df;
  --border-lighter: #5c5c5c;
  --border-darker: #151515;
  --text: #35353d;
  --text-secondary: #6a7185;
  --text-inactive: #6a7185;
  --brand: #a7119b;
  --accent: #59b838;
  --accent-second: #e49838;
}
