.app {
  background: var(--bg-medium);
  display: grid;
  grid-template-rows: 1fr auto;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  /* overflow: hidden; */
  min-height: 100vh;
  gap: var(--gap-4);
  color: var(--text);
  font-family: 'Rubik';
  overflow-y: auto;

  /* padding: 0 var(--p-3); */

  &.mobile {
    padding: 0;
    gap: 0;
    /* overflow: hidden; */
  }
}

.content {
  place-self: stretch center;
  width: 100%;
  max-width: min(var(--max-width), 100vw);
  margin-top: calc(56px + var(--p-5));

  &.noMaxWidth {
    max-width: unset;
  }

  &.mobile {
    margin-top: 50px;
  }
}
